@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cousine:400,400i,700|Lily+Script+One&display=swap");
/**
 * ----------------------------------------
 * arrow bounce
 * ----------------------------------------
 */
.arrowBounce {
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
  color: #5778F3;
  font-size: 22px;
  position: relative;
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}

.text-shadow-pop-br {
  -webkit-animation: text-shadow-pop-br 1s both;
  animation: text-shadow-pop-br 1s both;
}

@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    text-shadow: 1px 1px #fff, 2px 2px #fff;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    text-shadow: 1px 1px #fff, 2px 2px #fff;
    -webkit-transform: translateX(-8px) translateY(-8px) skew(-20deg) rotate(-5deg);
    transform: translateX(-8px) translateY(-8px) skew(-20deg) rotate(-5deg);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-15px);
    transform: scale(1.1) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-15px);
    transform: scale(1.1) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.hero-container {
  min-height: 900px;
  height: 120vh;
  width: 100vw;
  position: relative;
}
.hero-container .bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero-container .hero-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/pizza-bg.jpg");
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.hero-container .hero-content {
  min-height: 600px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-container #logo {
  max-width: 200px;
  height: auto;
  margin-top: 20px;
}
.hero-container h1 {
  font-family: "Lily Script One", sans-serif;
  font-size: 100px;
  color: #020968;
  text-shadow: 2px 2px 0 #fff;
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: skew(-20deg) rotate(-5deg);
      -ms-transform: skew(-20deg) rotate(-5deg);
          transform: skew(-20deg) rotate(-5deg);
  margin: 20px 0 0 0;
}
@media (max-width: 800px) {
  .hero-container h1 {
    font-size: 50px;
  }
}
.hero-container .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.hero-container .btn-wrapper .hero-btns {
  padding: 0;
  list-style-type: none;
}
.hero-container .btn-wrapper .hero-btns li {
  border: 3px solid #fafafa;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: #fafafa;
  line-height: 3em;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.hero-container .btn-wrapper .hero-btns li:nth-child(odd) {
  background-color: #00B917;
  -webkit-box-shadow: -3px 3px 0 0 #00B917;
          box-shadow: -3px 3px 0 0 #00B917;
  text-align: left;
  padding-left: 10%;
  -webkit-transform: perspective(500px) rotateY(45deg);
          transform: perspective(500px) rotateY(45deg);
}
.hero-container .btn-wrapper .hero-btns li:nth-child(even) {
  background: #F50000;
  -webkit-box-shadow: 3px 3px 0 0 #F50000;
          box-shadow: 3px 3px 0 0 #F50000;
  text-align: right;
  padding-right: 10%;
  -webkit-transform: perspective(500px) rotateY(-45deg);
          transform: perspective(500px) rotateY(-45deg);
}
.hero-container .btn-wrapper .hero-btns li:nth-child(odd):hover {
  -webkit-transform: perspective(200px) rotateY(45deg);
          transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}
.hero-container .btn-wrapper .hero-btns li:nth-child(even):hover {
  -webkit-transform: perspective(200px) rotateY(-45deg);
          transform: perspective(200px) rotateY(-45deg);
  padding-right: 5%;
}
.hero-container .scroll-to {
  z-index: 99;
  position: absolute;
  bottom: 100px;
  width: 64px;
  height: 32px;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hero-container .skew {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 2;
  bottom: -120px;
  left: 0;
  background-image: url(/img/bg-ingredients-50.png);
  /* The image used */
  background-position: center center;
  background-repeat: repeat;
  background-color: #fff;
  -ms-transform: skewY(-4deg);
  /* IE 9 */
  -webkit-transform: skewY(-4deg);
  /* Safari 3-8 */
  transform: skewY(-4deg);
  border-top: 3px solid #F6E9D0;
}

#menu {
  position: relative;
  width: 100%;
  color: black;
  z-index: 9;
  padding-bottom: 200px;
  background-image: url(/img/bg-ingredients-50.png);
  /* The image used */
  background-color: #FBF5EA;
  /* Used if the image is unavailable */
  height: auto;
  background-position: left top;
  background-repeat: repeat;
  /* Do not repeat the image */
  /* set panel with according to scree-size */
  /* These settings has to be consistant with 'mansonrySettings' in JS file */
}
#menu .menu-header {
  font-family: "Lily Script One", sans-serif;
  font-size: 120px;
  text-shadow: 3px 3px 0 #222;
  color: #F50000;
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transform: skew(-20deg) rotate(-5deg);
      -ms-transform: skew(-20deg) rotate(-5deg);
          transform: skew(-20deg) rotate(-5deg);
  margin: 0 0 100px 0;
}
#menu #masonry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 1400px;
  width: 100%;
}
#menu .masonry-panel {
  width: 50%;
  /*will not wrap if use max-width*/
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  padding: 5px;
  min-width: 100px;
}
#menu .masonry-panel:nth-child(2) {
  margin-top: 0;
}
@media (min-width: 600px) {
  #menu .masonry-panel:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  #menu .masonry-panel:nth-child(2) {
    margin-top: -50px;
  }
}
#menu .masonry-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(246, 233, 208, 0.5);
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #menu .masonry-panel {
    width: 50%;
  }
}
@media screen and (min-width: 430px) and (max-width: 768px) {
  #menu .masonry-panel {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  #menu .masonry-panel {
    width: 100%;
  }
}

.menu-heading {
  font-family: "Lily Script One", sans-serif;
  font-size: 80px;
  color: #00B917;
  text-shadow: 2px 2px 0 #222;
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transform: skew(-20deg) rotate(-5deg);
      -ms-transform: skew(-20deg) rotate(-5deg);
          transform: skew(-20deg) rotate(-5deg);
  margin: 20px 0 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0;
}

.food-wrapper {
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.food-wrapper-oneCol {
  width: 75%;
  background-color: rgba(0, 0, 0, 0);
}

.sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-align: center;
}

.size {
  padding: 0 20px;
}
.size p {
  margin: 0;
}
.size .food-size {
  font-size: 12px;
  font-weight: 700;
}

.food-item {
  text-align: center;
  padding: 0px 20px;
}

h3.food-title {
  display: block;
  text-transform: Uppercase;
  margin: 10px 0px;
}

.food-desc {
  border-bottom: 2px dashed #020968;
  font-size: 12px;
}

.map-container {
  position: relative;
}
.map-container .skew-footer {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 9;
}
.map-container .skew-top {
  background-image: url(/img/bg-ingredients-50.png);
  /* The image used */
  background-position: center center;
  background-repeat: repeat;
  background-color: #fff;
  -ms-transform: skewY(-2deg);
  /* IE 9 */
  -webkit-transform: skewY(-2deg);
  /* Safari 3-8 */
  transform: skewY(-2deg);
  top: -50px;
  left: 0;
  border-bottom: 3px solid #F6E9D0;
}
.map-container .skew-bottom {
  background-color: #222;
  -ms-transform: skewY(2deg);
  /* IE 9 */
  -webkit-transform: skewY(2deg);
  /* Safari 3-8 */
  transform: skewY(2deg);
  bottom: -50px;
  border-top: 3px solid #F6E9D0;
}

footer {
  min-height: 300px;
  background-color: #222;
  color: #fff;
  position: relative;
  padding-bottom: 40px;
}
footer .footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
  z-index: 10;
}
footer .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 900px;
}
@media (max-width: 800px) {
  footer .footer-container .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .footer-content div {
    padding: 20px 0;
    margin: 10px 0;
  }
  footer .footer-container .footer-content div:not(:last-child) {
    border-bottom: 2px solid #fff;
  }
}
footer .footer-container .footer-content .opening-times {
  line-height: 2;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 999;
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6), 0 0 0 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6), 0 0 0 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
label .hamburger {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-image: url("../img/pizzaNav.svg");
  background-position: center;
  background-size: cover;
}
label input {
  display: none;
}
label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 300vw rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 300vw rgba(0, 0, 0, 0.6);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
label input:checked + .menu + ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
}
label ul {
  position: fixed;
  display: none;
  z-index: 9999;
  padding: 80px 0 0 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  -o-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}
label li {
  text-align: center;
  list-style-type: none;
  font-size: 32px;
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  margin: 0;
  padding: 0;
  height: 10vh;
  -webkit-transition: 0.25s 0s ease-in-out;
  -o-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
label li:nth-child(odd):hover {
  background-color: #00B917;
}
label li:nth-child(even):hover {
  background-color: #F50000;
}
@media (min-width: 1200px) {
  label li {
    width: 70%;
    font-size: 40px;
  }
}
label li a {
  text-align: center;
  position: relative;
  display: block;
  color: #fafafa;
  text-decoration: none;
  width: 100%;
  height: 100%;
  top: 25%;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #020968;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Cousine", monospace, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #FBF5EA;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  text-decoration: none;
}

div.progress {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #F50000;
}

.underline-dotted {
  border-bottom: 2px dashed #020968;
}

.btn {
  border: 3px solid #FFFFFF;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 0 0 #020968;
          box-shadow: 5px 5px 0 0 #020968;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}