@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cousine:400,400i,700|Lily+Script+One&display=swap');
@import "variables";
@import "animations";
@import "hero";
@import "menu";
@import "footer";
@import "nav";
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: $fBlu;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Cousine', monospace, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $lYel;
}

* {
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  text-decoration: none;
}

div.progress {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: $fRed;
}

.underline-dotted {
  border-bottom: 2px dashed $fBlu;
}



.btn {
  border: 3px solid #FFFFFF;
  padding: 5px 20px;
  cursor: pointer;
  box-shadow: 5px 5px 0 0 $fBlu;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

