#menu {
  position: relative;
  width: 100%;
  color: black;
  z-index: 9;
  padding-bottom: 100px;
  background-image: url(/img/bg-ingredients-50.png);
  /* The image used */
  background-color: $lYel;
  /* Used if the image is unavailable */
  height: auto;
  background-position: left top;
  background-repeat: repeat;
  /* Do not repeat the image */

  .menu-header {
    font-family: 'Lily Script One', sans-serif;
    font-size: 120px;
    text-shadow: 3px 3px 0 $blac;
    color: $fRed;
    text-align: center;
    font-weight: 400;
    user-select: none;
    transform: skew(-20deg);
    transform: skew(-20deg) rotate(-5deg);
    margin: 0 0 100px 0;

    @include mobile {
      font-size: 80px;
      margin: 0 0 50px 0;
    }
  }

  #masonry {
    display: flex;
    flex-flow: column wrap;

    max-width: 1400px;
    width: 100%;
  }

  .masonry-panel {
    width: 50%;
    /*will not wrap if use max-width*/
    flex: 2 0 auto;
    padding: 25px;
    min-width: 100px;
  }


  .masonry-panel:nth-child(2) {
   margin-top: 0;

    @include tablet-portrait-up {
      margin-top: 0;
    }
    @include tablet-landscape-up {
      margin-top: -50px;
    }
  }

  .masonry-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    font-size: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(246, 233, 208, 0.5);
  }


  /* set panel with according to scree-size */
  /* These settings has to be consistant with 'mansonrySettings' in JS file */
  @media screen and (min-width:769px) and (max-width:992px) {
    .masonry-panel {
      width: 100%;
    }
  }


  @media screen and (min-width:430px) and (max-width:768px) {
    .masonry-panel {
      width: 100%;
    }
  }

  @media screen and (max-width:430px) {
    .masonry-panel {
      width: 100%;
    }
  }

}

.menu-heading {
  font-family: 'Lily Script One', sans-serif;
  font-size: 80px;
  color: $fGre;
  text-shadow: 2px 2px 0 $blac;
  text-align: center;
  font-weight: 400;
  user-select: none;
  transform: skew(-20deg);
  transform: skew(-20deg) rotate(-5deg);
  margin: 20px 0 40px;
  flex: 0 0 100%;
  margin: 0;

  @include mobile {
    font-size: $f-xl;
  }
}

.food-wrapper {

  width: 75%;

  @include mobile {
    width: 90%;
  }
}

.food-wrapper-oneCol {

  width: 75%;
  @include mobile {
    width: 90%;
  }
}

.food-wrapper-twoCol {

  width: 50%;
  @include mobile {
    width: 90%;
  }
}

.sizes {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
}

.size {
  padding: 0 20px;


  p {
    margin: 0;
  }


  .food-size {
    font-size: $f-mob;
    font-weight: 700;
  }
}

.food-item {
  text-align: center;
  padding: 20px 20px;
}

h3.food-title {
  display: block;
  text-transform: Uppercase;
  margin: 10px 0px;
}

.food-desc {
  border-bottom: 2px dashed rgba(0,0,0,0.4);
  font-size: $f-mob;
}

.underline-dotted {
  border-top: 2px dashed rgba(0,0,0,0.4);
  padding-top: 10px;
}
