html,
body {
  &.modal-active {
    overflow-y: hidden;
  }
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1100;
  overflow-y: hidden;

  &.five {
    transform: scale(1);

    .modal-background {
      background: rgba(0, 0, 0, .0);
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

      .modal {
        transform: translateX(-1500px);
        animation: roadRunnerIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }

    &.out {
      animation: quickScaleDown 0s .5s linear forwards;

      .modal-background {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

        .modal {
          animation: roadRunnerOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }




  .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    vertical-align: middle;
    z-index: 900;

    .modal {
      background: white;
      padding: 20px;
      display: inline-block;
      border-radius: 10px;
      font-weight: 300;
      position: relative;
      z-index: 1000;
      background-image: url(/img/bg-ingredients-50.png);
      /* The image used */
      background-position: center center;
      background-repeat: repeat;
      border: 3px solid $dYel;

      .contact-container {
        width: auto;


        h2 {
          color: $fRed;
          text-shadow: 3px 3px 0 $blac;
          text-align: center;
          margin: 10px 0 0 0;
          padding: 0;
          left: 0;
        }

        .contact-content {
          @include mobile {
            margin: 0;
          }
          .contact-desc, .opening-times {
            width: 50%;
            line-height: 2.2;
            @include mobile {
              width: 100%;
              font-size: $f-mob;
            }
            @include tablet-portrait-up {
              font-size: $f-mob;
            }
            @include tablet-landscape-up {
              font-size: $f-sml;
            }
          }
        }

        p {
          margin: 10px 0;
        }
      }


      .modal-svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        // display: none; seems to be a fix so that user can select text in the modal eg. links
        display: none;

        rect {
          stroke: #fff;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778;
        }
      }
    }
  }
}
